/* FOR CONTACT PAGE */
.form{
    padding:3% !important;
    background-color:#adc6eb;
    margin: 3rem auto;
    width: 24rem;
    border-radius: 12px;
    background-image: url(images\lala.jpeg);
}
